In [2]:
#LIBRERIAS
import pandas as pd
import numpy as np
import mysql.connector

./EDA_UCI/dataset/

In [39]:
# Conectar a la base de datos
cnx = mysql.connector.connect(user='administrador123', password='pasword123.',
                              host='proyectdb.mysql.database.azure.com', database='proyectdb', connect_timeout=74000)
cursor = cnx.cursor()

In [3]:
# Crear la tabla en la base de datos
create_table_query = """
CREATE TABLE admissions2 (
  ROW_ID INT NOT NULL,
  SUBJECT_ID INT NOT NULL,
  HADM_ID INT NOT NULL,
  ADMITTIME DATE,
  DISCHTIME DATE,
  DEATHTIME DATE,
  ADMISSION_TYPE VARCHAR(50) NOT NULL,
  ADMISSION_LOCATION VARCHAR(50),
  DISCHARGE_LOCATION VARCHAR(50),
  INSURANCE VARCHAR(255) NOT NULL,
  LANGUAGE VARCHAR(10),
  RELIGION VARCHAR(50),
  MARITAL_STATUS VARCHAR(50),
  ETHNICITY VARCHAR(200),
  EDREGTIME DATE,
  EDOUTTIME DATE,
  DIAGNOSIS VARCHAR(300),
  HOSPITAL_EXPIRE_FLAG TINYINT NOT NULL,
  HAS_CHARTEVENTS_DATA TINYINT NOT NULL,
  PRIMARY KEY (ROW_ID)
) ENGINE=InnoDB
"""
cursor.execute(create_table_query)

In [4]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/ADMISSIONS.csv')

In [5]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [7]:
# Formateamos las columnas de fecha a un formato que solo incluye la fecha


df['admittime'] = pd.to_datetime(df['admittime']).dt.date
df['dischtime'] = pd.to_datetime(df['dischtime']).dt.date
df['edregtime'] = pd.to_datetime(df['edregtime']).dt.date
df['edouttime'] = pd.to_datetime(df['edouttime']).dt.date
df['deathtime'] = pd.to_datetime(df['deathtime']).dt.date.replace(pd.NaT, None)

In [9]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO admissions2
    (ROW_ID, SUBJECT_ID, HADM_ID, ADMITTIME, DISCHTIME, DEATHTIME, ADMISSION_TYPE, ADMISSION_LOCATION, DISCHARGE_LOCATION, INSURANCE, LANGUAGE, RELIGION, MARITAL_STATUS, ETHNICITY, EDREGTIME, EDOUTTIME, DIAGNOSIS, HOSPITAL_EXPIRE_FLAG, HAS_CHARTEVENTS_DATA)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA ICUSTDAY

In [21]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE ICUSTAYS2 (
  ROW_ID INT,
  SUBJECT_ID INT,
  HADM_ID INT,
  ICUSTAY_ID INT,
  DBSOURCE VARCHAR(20),
  FIRST_CAREUNIT VARCHAR(20),
  LAST_CAREUNIT VARCHAR(20),
  FIRST_WARDID SMALLINT,
  LAST_WARDID SMALLINT,
  INTIME DATE,
  OUTTIME DATE,
  LOS DOUBLE(10,2),
  PRIMARY KEY (ROW_ID)
) ENGINE=InnoDB;
'''
cursor.execute(create_table_query)

In [23]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/ICUSTAYS.csv')

In [24]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [26]:
df['intime'] = pd.to_datetime(df['intime']).dt.date.replace(pd.NaT, None)
df['outtime'] = pd.to_datetime(df['outtime']).dt.date.replace(pd.NaT, None)

In [30]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO ICUSTAYS2
    (ROW_ID, SUBJECT_ID, HADM_ID, ICUSTAY_ID, DBSOURCE, FIRST_CAREUNIT, LAST_CAREUNIT, FIRST_WARDID, LAST_WARDID, INTIME, OUTTIME, LOS)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA PATIENTS

In [31]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE PATIENT2 (
  ROW_ID INT,
  SUBJECT_ID INT,
  GENDER VARCHAR(5),
  DOB DATE,
  DOD DATE,
  DOD_HOSP DATE,
  DOD_SSN DATE,
  EXPIRE_FLAG VARCHAR(5)
) ENGINE=InnoDB;
'''
cursor.execute(create_table_query)

In [32]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/PATIENTS.csv')

In [33]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [35]:
# Convertir columnas de fecha a objetos datetime y reemplazar los valores NaT con None
df['dob'] = pd.to_datetime(df['dob']).dt.date.replace(pd.NaT, None)
df['dod'] = pd.to_datetime(df['dod']).dt.date.replace(pd.NaT, None)
df['dod_hosp'] = pd.to_datetime(df['dod_hosp']).dt.date.replace(pd.NaT, None)
df['dod_ssn'] = pd.to_datetime(df['dod_ssn']).dt.date.replace(pd.NaT, None)

In [37]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO PATIENT2
    (ROW_ID, SUBJECT_ID, GENDER, DOB, DOD, DOD_HOSP, DOD_SSN, EXPIRE_FLAG)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA CPTEVENTS

In [41]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE CPTEVENTS2 (
  ROW_ID INT PRIMARY KEY,
  SUBJECT_ID INT,
  HADM_ID INT,
  COSTCENTER VARCHAR(10),
  CHARTDATE DATE,
  CPT_CD VARCHAR(10),
  CPT_NUMBER INT,
  CPT_SUFFIX VARCHAR(5),
  TICKET_ID_SEQ INT,
  SECTIONHEADER VARCHAR(50),
  SUBSECTIONHEADER VARCHAR(300),
  DESCRIPTION VARCHAR(200)
) ENGINE=InnoDB;
'''
cursor.execute(create_table_query)

ProgrammingError: 1050 (42S01): Table 'cptevents2' already exists

In [42]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/CPTEVENTS.csv')

In [43]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [45]:
df['chartdate'] = pd.to_datetime(df['chartdate']).dt.date.replace(pd.NaT, None)

In [48]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO CPTEVENTS2
    (ROW_ID,SUBJECT_ID,HADM_ID,COSTCENTER,CHARTDATE,CPT_CD,CPT_NUMBER,CPT_SUFFIX,TICKET_ID_SEQ,SECTIONHEADER,SUBSECTIONHEADER,DESCRIPTION)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA PROCEDUREEVENTS_MV

In [30]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE PROCEDUREEVENTS_MV2 (
  ROW_ID INT NOT NULL,
  SUBJECT_ID INT NOT NULL,
  HADM_ID INT NOT NULL,
  ICUSTAY_ID INT,
  STARTTIME DATE,
  ENDTIME DATE,
  ITEMID INT,
  VALUE DOUBLE PRECISION,
  VALUEUOM VARCHAR(30),
  LOCATION VARCHAR(30),
  LOCATIONCATEGORY VARCHAR(30),
  STORETIME DATE,
  CGID INT,
  ORDERID INT,
  LINKORDERID INT,
  ORDERCATEGORYNAME VARCHAR(100),
  SECONDARYORDERCATEGORYNAME VARCHAR(100),
  ORDERCATEGORYDESCRIPTION VARCHAR(50),
  ISOPENBAG SMALLINT,
  CONTINUEINNEXTDEPT SMALLINT,
  CANCELREASON SMALLINT,
  STATUSDESCRIPTION VARCHAR(30),
  COMMENTS_EDITEDBY VARCHAR(30),
  COMMENTS_CANCELEDBY VARCHAR(30),
  COMMENTS_DATE DATE
) 
'''
cursor.execute(create_table_query)

In [31]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/PROCEDUREEVENTS_MV.csv')

In [33]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [34]:
df['starttime'] = pd.to_datetime(df['starttime']).dt.date
df['endtime'] = pd.to_datetime(df['endtime']).dt.date
df['storetime'] = pd.to_datetime(df['storetime']).dt.date
df['comments_date'] = pd.to_datetime(df['comments_date']).dt.date

In [35]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO PROCEDUREEVENTS_MV2
    (ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,VALUE,VALUEUOM,LOCATION,LOCATIONCATEGORY,STORETIME,CGID,ORDERID,LINKORDERID,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCATEGORYDESCRIPTION,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA PROCEDURES_ICD

In [4]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE PRESCRIPTIONS2 (
  ROW_ID INT,
  SUBJECT_ID INT,
  HADM_ID INT,
  ICUSTAY_ID INT,
  STARTDATE DATE,
  ENDDATE DATE,
  DRUG_TYPE VARCHAR(100),
  DRUG VARCHAR(100),
  DRUG_NAME_POE VARCHAR(100),
  DRUG_NAME_GENERIC VARCHAR(100),
  FORMULARY_DRUG_CD VARCHAR(120),
  GSN VARCHAR(200),
  NDC VARCHAR(120),
  PROD_STRENGTH VARCHAR(120),
  DOSE_VAL_RX VARCHAR(120),
  DOSE_UNIT_RX VARCHAR(120),
  FORM_VAL_DISP VARCHAR(120),
  FORM_UNIT_DISP VARCHAR(120),
  ROUTE VARCHAR(120)
) ENGINE=InnoDB;
'''
cursor.execute(create_table_query)

In [5]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/PRESCRIPTIONS.csv')

In [6]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [7]:
df['startdate'] = pd.to_datetime(df['startdate']).dt.date.replace(pd.NaT, None)
df['enddate'] = pd.to_datetime(df['enddate']).dt.date.replace(pd.NaT, None)

In [8]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO PRESCRIPTIONS2
    (ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,FORMULARY_DRUG_CD,GSN, NDC,PROD_STRENGTH,DOSE_VAL_RX,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA LABEVENTS

In [38]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE LABEVENTS2 (
  ROW_ID INT,
  SUBJECT_ID INT,
  HADM_ID INT,
  ITEMID INT,
  CHARTTIME DATE,
  VALUE VARCHAR(200),
  VALUENUM DOUBLE PRECISION,
  VALUEUOM VARCHAR(20),
  FLAG VARCHAR(20)
) 
'''
cursor.execute(create_table_query)

In [39]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/LABEVENTS.csv')

In [40]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [41]:
df['charttime']  = pd.to_datetime(df['charttime']).dt.date.replace(pd.NaT, None)

In [43]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO LABEVENTS2
    (ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA CALLOUTS

In [11]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE CALLOUT2 (
  ROW_ID INT,
  SUBJECT_ID INT,
  HADM_ID INT,
  SUBMIT_WARDID INT,
  SUBMIT_CAREUNIT VARCHAR(15),
  CURR_WARDID INT,
  CURR_CAREUNIT VARCHAR(15),
  CALLOUT_WARDID INT,
  CALLOUT_SERVICE VARCHAR(10),
  REQUEST_TELE SMALLINT,
  REQUEST_RESP SMALLINT,
  REQUEST_CDIFF SMALLINT,
  REQUEST_MRSA SMALLINT,
  REQUEST_VRE SMALLINT,
  CALLOUT_STATUS VARCHAR(20),
  CALLOUT_OUTCOME VARCHAR(20),
  DISCHARGE_WARDID INT,
  ACKNOWLEDGE_STATUS VARCHAR(20),
  CREATETIME DATE,
  UPDATETIME DATE,
  ACKNOWLEDGETIME DATE,
  OUTCOMETIME DATE,
  FIRSTRESERVATIONTIME DATE,
  CURRENTRESERVATIONTIME DATE
) ENGINE=InnoDB;
'''
cursor.execute(create_table_query)

In [12]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/CALLOUT.csv')

In [13]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [14]:
df['createtime']  = pd.to_datetime(df['createtime']).dt.date.replace(pd.NaT, None)
df['updatetime']  = pd.to_datetime(df['updatetime']).dt.date.replace(pd.NaT, None)
df['acknowledgetime']  = pd.to_datetime(df['acknowledgetime']).dt.date.replace(pd.NaT, None)
df['outcometime']  = pd.to_datetime(df['outcometime']).dt.date.replace(pd.NaT, None)
df['firstreservationtime']  = pd.to_datetime(df['firstreservationtime']).dt.date.replace(pd.NaT, None)
df['currentreservationtime']  = pd.to_datetime(df['currentreservationtime']).dt.date.replace(pd.NaT, None)

In [15]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO CALLOUT2
    (ROW_ID,SUBJECT_ID,HADM_ID,SUBMIT_WARDID,SUBMIT_CAREUNIT,CURR_WARDID,CURR_CAREUNIT,CALLOUT_WARDID,CALLOUT_SERVICE,REQUEST_TELE,REQUEST_RESP,REQUEST_CDIFF,REQUEST_MRSA,REQUEST_VRE,CALLOUT_STATUS,CALLOUT_OUTCOME,DISCHARGE_WARDID,ACKNOWLEDGE_STATUS,CREATETIME,UPDATETIME,ACKNOWLEDGETIME,OUTCOMETIME,FIRSTRESERVATIONTIME,CURRENTRESERVATIONTIME)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA TRANSFER

In [44]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE TRANSFERS2 (
  ROW_ID INT,
  SUBJECT_ID INT,
  HADM_ID INT,
  ICUSTAY_ID INT,
  DBSOURCE VARCHAR(20),
  EVENTTYPE VARCHAR(20),
  PREV_CAREUNIT VARCHAR(20),
  CURR_CAREUNIT VARCHAR(20),
  PREV_WARDID SMALLINT,
  CURR_WARDID SMALLINT,
  INTIME DATE,
  OUTTIME DATE,
  LOS INT
) ENGINE=InnoDB;
'''
cursor.execute(create_table_query)

In [45]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/TRANSFERS.csv')

In [46]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [47]:
df['intime']  = pd.to_datetime(df['intime']).dt.date.replace(pd.NaT, None)
df['outtime']  = pd.to_datetime(df['outtime']).dt.date.replace(pd.NaT, None)

In [49]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO TRANSFERS2
    (ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,EVENTTYPE,PREV_CAREUNIT,CURR_CAREUNIT,PREV_WARDID,CURR_WARDID,INTIME,OUTTIME,LOS)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA SERVICES

In [50]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE SERVICES2 (
  ROW_ID INT,
  SUBJECT_ID INT,
  HADM_ID INT,
  TRANSFERTIME DATE,
  PREV_SERVICE VARCHAR(20),
  CURR_SERVICE VARCHAR(20)
) ENGINE=InnoDB;
'''
cursor.execute(create_table_query)

In [51]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/SERVICES.csv')

In [52]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [53]:
df['transfertime']  = pd.to_datetime(df['transfertime']).dt.date.replace(pd.NaT, None)

In [54]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO SERVICES2
    (ROW_ID,SUBJECT_ID,HADM_ID,TRANSFERTIME,PREV_SERVICE,CURR_SERVICE)
    VALUES (%s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA CAREGIVERS

In [55]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE CAREGIVERS2 (
  ROW_ID INTEGER,
  CGID INTEGER,
  LABEL VARCHAR(15),
  DESCRIPTION VARCHAR(30)
) 
'''
cursor.execute(create_table_query)

In [56]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/CAREGIVERS.csv')

In [57]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [58]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO CAREGIVERS2
    (ROW_ID,CGID,LABEL,DESCRIPTION)
    VALUES (%s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA D_CPT

In [59]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE D_CPT2 (
  ROW_ID INT,
  CATEGORY SMALLINT,
  SECTIONRANGE VARCHAR(100),
  SECTIONHEADER VARCHAR(50),
  SUBSECTIONRANGE VARCHAR(100),
  SUBSECTIONHEADER VARCHAR(300),
  CODESUFFIX VARCHAR(5),
  MINCODEINSUBSECTION INT,
  MAXCODEINSUBSECTION INT
) 
'''
cursor.execute(create_table_query)

In [60]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/D_CPT.csv')

In [61]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [62]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO D_CPT2
    (ROW_ID,CATEGORY,SECTIONRANGE,SECTIONHEADER,SUBSECTIONRANGE,SUBSECTIONHEADER,CODESUFFIX,MINCODEINSUBSECTION,MAXCODEINSUBSECTION)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA D_ICD_DIAGNOSES

In [63]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE D_ICD_DIAGNOSESF (
  ROW_ID INT,
  ICD9_CODE VARCHAR(10),
  SHORT_TITLE VARCHAR(50),
  LONG_TITLE VARCHAR(300)
) 
'''
cursor.execute(create_table_query)

In [64]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/D_ICD_DIAGNOSES.csv')

In [65]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [68]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO D_ICD_DIAGNOSESF
    (ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE)
    VALUES (%s, %s, %s, %s)

    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA D_ICD_PROCEDURES

In [36]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE D_ICD_PROCEDURESFINAL (
  ROW_ID INT,
  ICD9_CODE VARCHAR(10),
  SHORT_TITLE VARCHAR(50),
  LONG_TITLE VARCHAR(300),
  PRIMARY KEY (ICD9_CODE)
  ) 
'''
cursor.execute(create_table_query)

In [28]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/D_ICD_PROCEDURES.csv')

In [29]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [35]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO D_ICD_PROCEDURESF
    (ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE)
    VALUES (%s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA D_ITEMS

In [74]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE D_ITEMS2 (
  ROW_ID INT,
  ITEMID INT,
  LABEL VARCHAR(200),
  ABBREVIATION VARCHAR(100),
  DBSOURCE VARCHAR(20),
  LINKSTO VARCHAR(50),
  CATEGORY VARCHAR(100),
  UNITNAME VARCHAR(100),
  PARAM_TYPE VARCHAR(30),
  CONCEPTID INT
) 
'''
cursor.execute(create_table_query)

In [75]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/D_ITEMS.csv')

In [76]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [77]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO D_ITEMS2
    (ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA DE D_LABITEMS.csv

In [78]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE D_LABITEMS2 (
  ROW_ID INT,
  ITEMID INT,
  LABEL VARCHAR(100),
  FLUID VARCHAR(100),
  CATEGORY VARCHAR(100),
  LOINC_CODE VARCHAR(100)
) 
'''
cursor.execute(create_table_query)

In [79]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/D_LABITEMS.csv')

In [80]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [82]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO D_LABITEMS2
    (ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE)
    VALUES (%s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA DIAGNOSES_ICD

In [83]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE DIAGNOSES_ICD2 (
  ROW_ID INT NOT NULL,
  SUBJECT_ID INT NOT NULL,
  HADM_ID INT NOT NULL,
  SEQ_NUM INT,
  ICD9_CODE VARCHAR(10)
) 
'''
cursor.execute(create_table_query)

In [84]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/DIAGNOSES_ICD.csv')

In [85]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [87]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO DIAGNOSES_ICD2
    (ROW_ID,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE)
    VALUES (%s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA DRGCODES

In [88]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE DDRGCODES2 (
  ROW_ID INT, 
  SUBJECT_ID INT, 
  HADM_ID INT, 
  DRG_TYPE VARCHAR(20),
  DRG_CODE VARCHAR(20), 
  DESCRIPTION VARCHAR(300),
  DRG_SEVERITY SMALLINT,
  DRG_MORTALITY SMALLINT
) 
'''
cursor.execute(create_table_query)

In [89]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/DRGCODES.csv')

In [90]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [92]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO DDRGCODES2
    (ROW_ID,SUBJECT_ID,HADM_ID,DRG_TYPE,DRG_CODE,DESCRIPTION,DRG_SEVERITY,DRG_MORTALITY)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA INPUTEVENTS_CV

In [93]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE INPUTEVENTS_CV2 (
  ROW_ID INT,
  SUBJECT_ID INT,
  HADM_ID INT,
  ICUSTAY_ID INT,
  CHARTTIME DATE,
  ITEMID INT,
  AMOUNT DOUBLE PRECISION,
  AMOUNTUOM VARCHAR(30),
  RATE DOUBLE PRECISION,
  RATEUOM VARCHAR(30),
  STORETIME DATE,
  CGID BIGINT,
  ORDERID BIGINT,
  LINKORDERID BIGINT,
  STOPPED VARCHAR(30),
  NEWBOTTLE INT,
  ORIGINALAMOUNT DOUBLE PRECISION,
  ORIGINALAMOUNTUOM VARCHAR(30),
  ORIGINALROUTE VARCHAR(30),
  ORIGINALRATE DOUBLE PRECISION,
  ORIGINALRATEUOM VARCHAR(30),
  ORIGINALSITE VARCHAR(30)
) 
'''
cursor.execute(create_table_query)

In [94]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/INPUTEVENTS_CV.csv')

C:\Users\W10-PC\AppData\Local\Temp\ipykernel_18332\1345179041.py:2: DtypeWarning: Columns (17,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('INPUTEVENTS_CV.csv')

In [95]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [96]:
df['charttime']  = pd.to_datetime(df['charttime']).dt.date.replace(pd.NaT, None)
df['storetime']  = pd.to_datetime(df['storetime']).dt.date.replace(pd.NaT, None)

In [99]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO INPUTEVENTS_CV2
    (ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,RATEUOM,STORETIME,CGID,ORDERID,LINKORDERID,STOPPED,NEWBOTTLE,ORIGINALAMOUNT,ORIGINALAMOUNTUOM,ORIGINALROUTE,ORIGINALRATE,ORIGINALRATEUOM,ORIGINALSITE)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

KeyboardInterrupt:

TABLA INPUTEVENTS_MV

In [100]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE INPUTEVENTS_MV2 (
  ROW_ID INT,
  SUBJECT_ID INT,
  HADM_ID INT,
  ICUSTAY_ID INT,
  STARTTIME DATE,
  ENDTIME DATE,
  ITEMID INT,
  AMOUNT DOUBLE PRECISION,
  AMOUNTUOM VARCHAR(30),
  RATE DOUBLE PRECISION,
  RATEUOM VARCHAR(30),
  STORETIME DATE,
  CGID BIGINT,
  ORDERID BIGINT,
  LINKORDERID BIGINT,
  ORDERCATEGORYNAME VARCHAR(100),
  SECONDARYORDERCATEGORYNAME VARCHAR(100),
  ORDERCOMPONENTTYPEDESCRIPTION VARCHAR(200),
  ORDERCATEGORYDESCRIPTION VARCHAR(50),
  PATIENTWEIGHT DOUBLE PRECISION,
  TOTALAMOUNT DOUBLE PRECISION,
  TOTALAMOUNTUOM VARCHAR(50),
  ISOPENBAG SMALLINT,
  CONTINUEINNEXTDEPT SMALLINT,
  CANCELREASON SMALLINT,
  STATUSDESCRIPTION VARCHAR(30),
  COMMENTS_STATUS VARCHAR(30),
  COMMENTS_TITLE VARCHAR(100),
  COMMENTS_DATE DATE,
  ORIGINALAMOUNT DOUBLE PRECISION,
  ORIGINALRATE DOUBLE PRECISION
) 
'''
cursor.execute(create_table_query)

In [101]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/INPUTEVENTS_MV.csv')

In [102]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [104]:
df['endtime']  = pd.to_datetime(df['endtime']).dt.date.replace(pd.NaT, None)
df['storetime']  = pd.to_datetime(df['storetime']).dt.date.replace(pd.NaT, None)
df['starttime']  = pd.to_datetime(df['starttime']).dt.date.replace(pd.NaT, None)
df['comments_date']  = pd.to_datetime(df['comments_date']).dt.date.replace(pd.NaT, None)

In [108]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO INPUTEVENTS_MV2
    (ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,RATEUOM,STORETIME,CGID,ORDERID,LINKORDERID,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCOMPONENTTYPEDESCRIPTION,ORDERCATEGORYDESCRIPTION,PATIENTWEIGHT,TOTALAMOUNT,TOTALAMOUNTUOM,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_STATUS,COMMENTS_TITLE,COMMENTS_DATE,ORIGINALAMOUNT,ORIGINALRATE)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA MICROBIOLOGYEVENTS

In [109]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE MICROBIOLOGYEVENTS2 (
  ROW_ID INT,
  SUBJECT_ID INT,
  HADM_ID INT,
  CHARTDATE DATE,
  CHARTTIME DATE,
  SPEC_ITEMID INT,
  SPEC_TYPE_DESC VARCHAR(100),
  ORG_ITEMID INT,
  ORG_NAME VARCHAR(100),
  ISOLATE_NUM SMALLINT,
  AB_ITEMID INT,
  AB_NAME VARCHAR(30),
  DILUTION_TEXT VARCHAR(10),
  DILUTION_COMPARISON VARCHAR(20),
  DILUTION_VALUE DOUBLE PRECISION,
  INTERPRETATION VARCHAR(5)
) 
'''
cursor.execute(create_table_query)

In [110]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/MICROBIOLOGYEVENTS.csv')

In [112]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [111]:

df['chartdate']  = pd.to_datetime(df['chartdate']).dt.date.replace(pd.NaT, None)
df['charttime']  = pd.to_datetime(df['charttime']).dt.date.replace(pd.NaT, None)

In [113]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO MICROBIOLOGYEVENTS2
    (ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,SPEC_ITEMID,SPEC_TYPE_DESC,ORG_ITEMID,ORG_NAME,ISOLATE_NUM,AB_ITEMID,AB_NAME,DILUTION_TEXT,DILUTION_COMPARISON,DILUTION_VALUE,INTERPRETATION)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA NOTEEVENTS

In [4]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE NOTEEVENTS (
    ROW_ID SERIAL PRIMARY KEY,
    SUBJECT_ID INTEGER,
    HADM_ID INTEGER,
    CHARTDATE TIMESTAMP(0),
    CHARTTIME TIMESTAMP(0),
    STORETIME TIMESTAMP(0),
    CATEGORY VARCHAR(50),
    DESCRIPTION VARCHAR(300),
    CGID INTEGER,
    ISERROR CHAR(1),
    TEXT TEXT
) 
'''
cursor.execute(create_table_query)

TABLA DE OUTOUTSEVENTS

In [5]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE OUTPUTEVENTS2 (
    ROW_ID INTEGER,
    SUBJECT_ID INTEGER,
    HADM_ID INTEGER,
    ICUSTAY_ID INTEGER,
    CHARTTIME DATE,
    ITEMID INTEGER,
    VALUE DOUBLE PRECISION,
    VALUEUOM VARCHAR(30),
    STORETIME DATE,
    CGID BIGINT,
    STOPPED VARCHAR(30),
    NEWBOTTLE INTEGER,
    ISERROR SMALLINT
) 
'''
cursor.execute(create_table_query)

In [6]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/OUTPUTEVENTS.csv')

In [7]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [8]:

df['storetime']  = pd.to_datetime(df['storetime']).dt.date.replace(pd.NaT, None)
df['charttime']  = pd.to_datetime(df['charttime']).dt.date.replace(pd.NaT, None)

In [11]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO OUTPUTEVENTS2
    (ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUE,VALUEUOM,STORETIME,CGID,STOPPED,NEWBOTTLE,ISERROR)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

TABLA CHARTEVENTS

In [ ]:
# Crear la tabla si no existe
tabla = 'chartevents'
cursor.execute(f"CREATE TABLE IF NOT EXISTS {tabla} ( `row_id` int DEFAULT NULL,  `subject_id` int DEFAULT NULL, `hadm_id` int DEFAULT NULL, `icustay_id` int DEFAULT NULL, `itemid` int DEFAULT NULL, `charttime` text, `storetime` text, `cgid` int DEFAULT NULL, `value` double DEFAULT NULL, `valuenum` double DEFAULT NULL, `valueuom` text, `warning` int DEFAULT NULL, `error` int DEFAULT NULL, `resultstatus` text, `stopped` text)")

In [ ]:

archivo_csv = './EDA_UCI/dataset/CHARTEVENTS.csv'
data = pd.read_csv(archivo_csv)

In [ ]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [ ]:
for row in data.itertuples():
    query = "INSERT INTO {} (row_id, subject_id, hadm_id, icustay_id, itemid, charttime, storetime, cgid, value, valuenum, valueuom, warning, error, resultstatus, stopped) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)".format(tabla)
    values = (row.row_id, row.subject_id, row.hadm_id, row.icustay_id, row.itemid, row.charttime, row.storetime, row.cgid, row.value, row.valuenum, row.valueuom, row.warning, row.error, row.resultstatus, row.stopped)
    cursor.execute(query, values)

TABLA DATEEVENTS

In [40]:
# Definir la consulta SQL para crear la tabla
create_table_query = '''
CREATE TABLE DATETIMEEVENTS2 (
    ROW_ID INT,
    SUBJECT_ID INT,
    HADM_ID INT,
    ICUSTAY_ID INT,
    ITEMID INT,
    CHARTTIME DATE,
    STORETIME DATE,
    CGID INT,
    VALUE DATE,
    VALUEUOM VARCHAR(50),
    WARNING SMALLINT,
    ERROR SMALLINT,
    RESULTSTATUS VARCHAR(50),
    STOPPED VARCHAR(50)
) 
'''
cursor.execute(create_table_query)

In [41]:
# Leer la tabla "admissions" en un DataFrame de pandas
df = pd.read_csv('./EDA_UCI/dataset/DATETIMEEVENTS.csv')

In [42]:
# Convertir los valores nan a None
df = df.where(pd.notnull(df), None)

texto_cols = df.select_dtypes(include=['string']).columns
df[texto_cols] = df[texto_cols].fillna('SD')

num_cols = df.select_dtypes(include=['int', 'float']).columns
df[num_cols] = df[num_cols].fillna(0)

In [43]:

df['storetime']  = pd.to_datetime(df['storetime']).dt.date.replace(pd.NaT, None)
df['charttime']  = pd.to_datetime(df['charttime']).dt.date.replace(pd.NaT, None)
df['value']  = pd.to_datetime(df['value']).dt.date.replace(pd.NaT, None)

In [47]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO DATETIMEEVENTS2
    (ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s)
    """
    data = tuple(row.values)
    cursor.execute(insert_query, data)
    cnx.commit()

In [ ]:
#AGREGAR LLAVES PRIMARIAS

In [ ]:
cursor.execute('''
ALTER TABLE d_icd_diagnoses
ADD PRIMARY KEY(ICD9_CODE);
''')

In [24]:
cursor.execute('''
ALTER TABLE d_items
ADD PRIMARY KEY(ITEMID);
''')

In [ ]:
cursor.execute('''
ALTER TABLE d_icd_procedures
ADD PRIMARY KEY(ICD9_CODE);
''')

In [25]:
cursor.execute('''
ALTER TABLE d_labitems
ADD PRIMARY KEY(ITEMID);
''')

In [14]:
# Agregar la clave fornea
cursor.execute('''
ALTER TABLE admissions
ADD FOREIGN KEY (SUBJECT_ID) REFERENCES patient(SUBJECT_ID);
''')

In [16]:
cursor.execute('''
ALTER TABLE chartevents
ADD FOREIGN KEY (HADM_ID) REFERENCES admissions(HADM_ID);
''')

In [17]:
cursor.execute('''
ALTER TABLE callout
ADD FOREIGN KEY (SUBJECT_ID) REFERENCES patient(SUBJECT_ID);
''')

In [18]:
cursor.execute('''
ALTER TABLE callout
ADD FOREIGN KEY (HADM_ID) REFERENCES admissions(HADM_ID);
''')

In [19]:
cursor.execute('''
ALTER TABLE cptevents
ADD FOREIGN KEY (SUBJECT_ID) REFERENCES patient(SUBJECT_ID);
''')

In [20]:
cursor.execute('''
ALTER TABLE cptevents
ADD FOREIGN KEY (HADM_ID) REFERENCES admissions(HADM_ID);
''')

In [21]:
cursor.execute('''
ALTER TABLE chartevents
ADD FOREIGN KEY (SUBJECT_ID) REFERENCES patient(SUBJECT_ID);
''')

In [37]:
# Guardar los cambios y cerrar la conexin
cnx.commit()
cursor.close()
cnx.close()