In [1]:
import pandas as pd

RECORTE TABLA PATIENT

In [2]:
df1 = pd.read_csv('../PATIENTS.csv')

In [3]:
# Seleccionar el 20% inferior del DataFrame
n = int(len(df1) * 0.3)
df1_selected = df1.tail(n)

In [4]:
# Definir una función que agrega un 5 al principio de cada elemento de tipo entero
add_five = lambda x: str(7) + str(x) if isinstance(x, int) else x

# Aplicar la función a las columnas row_id, subject_id y hadm_id del DataFrame
df1_selected[['row_id', 'subject_id']] = df1_selected[['row_id', 'subject_id']].applymap(add_five)

C:\Users\W10-PC\AppData\Local\Temp\ipykernel_12588\1122532785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_selected[['row_id', 'subject_id']] = df1_selected[['row_id', 'subject_id']].applymap(add_five)

In [5]:
df1_selected.head()

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
70,731337,742075,M,2086-02-04 00:00:00,2166-02-26 00:00:00,2166-02-26 00:00:00,2166-02-26 00:00:00,1
71,731350,742135,M,2083-09-20 00:00:00,2127-10-28 00:00:00,2127-10-28 00:00:00,2127-10-28 00:00:00,1
72,731372,742199,F,2044-06-27 00:00:00,2117-04-04 00:00:00,2117-04-04 00:00:00,NaN,1
73,731379,742231,F,2016-12-05 00:00:00,2105-05-18 00:00:00,2105-05-18 00:00:00,2103-05-18 00:00:00,1
74,731391,742275,M,2058-08-04 00:00:00,2136-03-26 00:00:00,2136-03-26 00:00:00,NaN,1

In [6]:
df1_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 70 to 99
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       30 non-null     object
 1   subject_id   30 non-null     object
 2   gender       30 non-null     object
 3   dob          30 non-null     object
 4   dod          30 non-null     object
 5   dod_hosp     26 non-null     object
 6   dod_ssn      21 non-null     object
 7   expire_flag  30 non-null     int64
dtypes: int64(1), object(7)
memory usage: 2.0+ KB

In [7]:
df1_selected.to_csv('PATIENTS.csv', index = False)