In [1]:
import pandas as pd

RECORTE TABLA PATIENT

In [2]:
df1 = pd.read_csv('../PATIENTS.csv')

In [3]:
# Seleccionar el 20% inferior del DataFrame
n = int(len(df1) * 0.2)
df1_selected = df1.tail(n)

In [4]:
# Definir una función que agrega un 5 al principio de cada elemento de tipo entero
add_five = lambda x: str(5) + str(x) if isinstance(x, int) else x

# Aplicar la función a las columnas row_id, subject_id y hadm_id del DataFrame
df1_selected[['row_id', 'subject_id']] = df1_selected[['row_id', 'subject_id']].applymap(add_five)

C:\Users\W10-PC\AppData\Local\Temp\ipykernel_19648\3444565894.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_selected[['row_id', 'subject_id']] = df1_selected[['row_id', 'subject_id']].applymap(add_five)

In [5]:
df1_selected.head()

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
80,531413,542367,F,2060-02-12 00:00:00,2147-11-04 00:00:00,2147-11-04 00:00:00,2147-11-04 00:00:00,1
81,531427,542412,M,2079-01-29 00:00:00,2166-05-30 00:00:00,2166-05-30 00:00:00,NaN,1
82,531429,542430,M,2061-12-10 00:00:00,2142-11-30 00:00:00,2142-11-30 00:00:00,2142-11-30 00:00:00,1
83,531440,542458,M,1846-07-21 00:00:00,2147-09-08 00:00:00,2147-09-08 00:00:00,NaN,1
84,531752,543735,M,2046-07-05 00:00:00,2128-11-09 00:00:00,2128-11-09 00:00:00,NaN,1

In [6]:
df1_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 80 to 99
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       20 non-null     object
 1   subject_id   20 non-null     object
 2   gender       20 non-null     object
 3   dob          20 non-null     object
 4   dod          20 non-null     object
 5   dod_hosp     18 non-null     object
 6   dod_ssn      13 non-null     object
 7   expire_flag  20 non-null     int64
dtypes: int64(1), object(7)
memory usage: 1.4+ KB

In [7]:
df1_selected.to_csv('PATIENTS.csv')